

$width-vertical: 420px;

h1{
	width: 100%;
	font-size: 3em;
	line-height: 1.2;
	font-weight: 300;
	color: black;
}

figure{
	figcaption{
		font-size: 0.9em;
		line-height: 1.4;
	}
}



section.texto{
	width: $width;

	&.duplo{
		@include display(flex);
		& > div{
			line-height: 1.4;
			width: 50%;
			padding-right: 2em;
		}

		h4{
			margin: 0;
			font-family: $fonte-corpo;
			font-weight: bold;
			font-size: 1em;
		}

		p{
			width: 100%;
			margin: 0 0 2em;
		}
	}

	&.premios{
		h2{
			font-size: 2.8em;
			margin-bottom: 0;
			& + p{
				margin: 0;
			}
		}

		h3{
			// font-size: 2em;
			margin: 0;
			& + p{
				margin: 0;
			}

		}

		hr{
			display: block;
			width: 100%;
			height: 1px;
			border: none;
			border-bottom: 1px dotted hsl(0,0%,25%);
			margin: 2em 0;
		}

		figure{
			margin: 0;
			padding: 0;
			float: right;
			width: $width-vertical;
			height: auto;
			img{
				width: 100%;
				height: auto;
			}

			&:after{
				content: ' ';
				display: block;
				font-size: 0;
				line-height: 0;
				clear: both;
			}
		}
	}

	*:first-child{
		margin-top: 0;
	}

	h2, h3, h4{
		width: 100%;
	}

	h2{
		font-size: 2em;
	}

	h3{
		font-size: 1.6em;
	}

	& > *{
		width: $width-texto-padrao;
	}

	blockquote{
		font-size: 0.9em;
		padding: 0em 1em 0em 4em;
		margin: 0;
	}

	table{
		margin: 3em 0;
		width: auto;
		max-width: 100%;
		min-width: $width-texto-padrao;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		border-spacing: 0;
		border-collapse: collapse;
		font-size: 0.9em;

		caption{
			text-align: left;
			caption-side: bottom;
		}
		td,th{
			text-align: left;
			padding: 0.5em;
			border-style: dotted;
			border-color: hsl(0, 0%, 70%);
			border-width: 0;
			border-right-width: 1px;
			border-bottom-width: 1px;
			&:last-child{
				border-right-width: 0px;
			}
		}

		thead{
			tr{
				th{
					padding: 0.2em 0.5em;
					border-bottom: 1px solid black;
				}
			}
		}

		tbody{
			tr:last-child{
				td,th{
					border-bottom-width: 0px;
				}
			}
		}
	}
}

section.ensaios{
	width: $width;
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	a{
		width: 32%;
		margin-bottom: 3%;
		color: white;
		text-decoration: none;
		position: relative;
		background-color: black;
		&:after{
			display: block;
			width: 100%;
			content: '';
			padding-top: 60%;
		}
	}
}

section.imagem-unica{
	margin: 2em;
	// padding: 1em 0;
	width: 100%;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	background-color: hsl(0, 0%, 93%);

	figure{
		margin: 0;
		width: auto;
		max-width: $width-texto-padrao;
		&.vertical{
			max-width: $width-vertical;
		}
		// @include transition(all 0.3s ease-out);
		// @include transition-property(max-width);
		position: relative;
		@include display(flex);
		@include flex-direction(column);
		// @include align-items(center);

		&:after{
			content: '';
			position: absolute;
			right: 5px;
			top: 5px;
			width: 40px;
			height: 40px;
			background-image: url(../media/ico_expand.svg);
			background-size: contain;
			opacity: 0;
			@include transition(opacity 0.2s linear);
			// z-index: 1000000;
		}

		&:hover{

			&:after{
				opacity: 1;
			}
		}

		img{
			display: block;
			max-width: 100%;
			width: auto;
			height: auto;
			position: relative;

			&:hover{
				cursor: pointer;	
			}
		}

		&.ampliado, &.vertical.ampliado{
			max-width: $width;
			min-width: $width-texto-padrao;
			img{
				width: auto;
				max-width: 100%;
				max-height: none;
				min-width: $width-texto-padrao;
			}

			&:after{
				background-image: url(../media/ico_collapse.svg);
			}

		}


		figcaption{
			font-size: 0.9em;

			// position: absolute;
			// bottom: 0; left: 0;
			// color: white;
			// padding: 0.8em 0.3em 0.3em;
			// width: 100%;
			// @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
			// text-overflow: ellipsis;
			// overflow: hidden;
			// white-space: nowrap;


		}
	}
}

section.galeria{
	margin: 2em;
	// padding: 1em 0;
	width: 100%;
	// @include display(flex);
	// @include justify-content(center);
	// @include align-items(center);
	background-color: hsl(0, 0%, 93%);
	overflow: hidden;
	position: relative;

	div{
		&:not(.thumbnails-container){
			width: auto;
			white-space: nowrap;
			// overflow: visible;
			position: relative;
			@include transition(transform 0.4s ease-out);
		}
	}

	div.figures-container{
	
		
		figure{
			display: inline-block;
			white-space: normal;
			width: auto;
			max-width: $width-texto-padrao;
			max-height: $width-texto-padrao;
			margin: 0;
			margin-right: 1em;
			vertical-align: top;
			img{
				display: block;
				max-width: $width-texto-padrao;
				max-height: $width-vertical;
				
			}

			figcaption{
				font-size: 0.8em;
			}
		}
	}

	div.imagens-container{
		
		img{
			display: inline-block;
			white-space: normal;
			width: auto;
			// max-width: $width-texto-padrao;
			max-height: $width-texto-padrao*0.6666;
			margin: 0;
			margin-right: 1em;
			vertical-align: middle;
			opacity: 0.1;
			@include transition(opacity 0.2s linear);
			&.ativo{
				opacity: 1;
			}

			&:hover{
				cursor: pointer;
			}
		}
	}

	div.captions-container{
		margin-top: 1em;
		p{
			display: inline-block;
			white-space: normal;
			width: $width-texto-padrao;
			font-size: 0.9em;
			line-height: 1.4;
			margin-right: 1em;
			opacity: 0.2;
			@include transition(opacity 0.2s linear);
			&.ativo{
				opacity: 1;
			}
		}
	}

	div.thumbnails-container{
		margin: 2em auto 0;
		width: $width;
		@include display(flex);
		@include justify-content(center);
		button{
			display: inline-block;
			white-space: normal;
			@include appearance(none);
			background-color: transparent;
			border: none;
			outline: none;
			padding: 0;
			margin-right: 4px;
			height: 40px;
			width: auto;
			opacity: 0.4;
			@include transition(opacity 0.2s linear);
			&.ativo{
				opacity: 1;
			}

			&:hover{
				cursor: pointer;
			}

			img{
				max-height: 100%;
				width: auto;
				display: block;	
			}
		}
	}
}




button.botao-rodape{
	@include appearance(none);
	outline: none;
	display: inline;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0.2em 0.3em;
	font-family: $fonte-corpo;
	font-size: 0.9em;
	line-height: 1;
	background-color: hsl(0,0,90%);
	border-radius: 2px;
	border: 1px solid hsl(0,0,70%);
	vertical-align: top;
	&:before{
		display: inline;
		content: attr(data-numero);
	}
	&:hover{
		cursor: pointer;
	}

	&.focus{
		outline: none;
	}

	@include transition(all 0.1s linear);
	@include transition-property(color, background-color, border);
	&.ativado{
		border-color: black;
		background-color: black;
		color: white;
	}

}

.nota-rodape{
	
	position: absolute;
	font-size: 0.9em;
	padding: 1em 1em 2em;
	margin: 0 10px;
	box-shadow: 0px 4px 15px rgba(0,0,0, 0.3);
	background-color: $branco;
	border-bottom-width: 4px;
	width: auto;
	max-width: 480px;
	z-index: 3;
	display: none;
	opacity: 0;
	@include transform(scale(0.5));
	@include transition(all 0.2s ease-out);
	@include transition-property(opacity, transform);


	@include transform-origin(50% 100%);
	&.origem-top{
		@include transform-origin(50% 0%);

	}

	&.db{
		display: block;
	}
	&.visivel{
		opacity: 1;
		@include transform(scale(1));
		z-index: 4;
	}

	&.easing-saida{
		@include transition-timing-function(ease-in);
	}

	button.fechar{
		@include appearance(none);
		outline: none;
		margin: 0;
		padding: 0;
		background-color: transparent;
		width: 12px;
		height: 12px;
		border: none;
		display: block;
		background-image: url('../media/icone-fechar.svg');
		background-size: contain;
		background-position: center center;

		&:hover{
			cursor: pointer;
		}

		& + *{
			margin-top: 0.4em;
		}
	}
}








