$fonte-corpo: 'Source Sans Pro', sans-serif;
$fonte-titulo: 'Merriweather', serif;

body{
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.8;
	color: hsl(0, 0%, 25%);
	font-family: $fonte-corpo;
}

h1, h2, h3, h4{
	font-family: $fonte-titulo;
	font-weight: bold;
}

a[href*="http"], a[href*="www"], a[target*="blank"], a:link{
	overflow-wrap: break-word;
	word-break: break-all;
	&:visited, &:active, &:hover{
		color: #2042BD;

	}
}

b, strong{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

