@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

$fonte-corpo: 'Source Sans Pro', sans-serif;
$fonte-titulo: 'Flama', Tahoma, sans-serif;

$amarelo: #FBF168;
$vermelho: #d4464b;
$azul: #6087fd;
$branco: hsl(0,0%,99%);

html,body{
	&.blockscroll{
		overflow: hidden;
	}
}

body{
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.8;
	color: hsl(0, 0%, 25%);
	font-family: $fonte-corpo;
	background-color: hsl(0,0%,97%);
	hyphens: auto;
}

h1, h2, h3, h4{
	// color: black;
	font-family: $fonte-titulo;
	font-weight: 500;
}

a[href*="http"], a[href*="www"], a[target*="blank"], a[href*='mailto'], a:link{
	overflow-wrap: break-word;
	word-break: break-all;
	&, &:visited, &:active, &:hover{
		color: #2042BD;

	}
}

b, strong{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

