@charset "UTF-8"; 

@import 'bourbon/bourbon';
@import 'normalize';
@import 'box-sizing';
@import 'fontface';
@import 'padroes';




$width: 1200px;
$width-texto-padrao: 630px;


#topo{
	width: 100%;
	background-color: black;
	@include display(flex);
	@include justify-content(center);
	div.container{
		@include display(flex);
		@include align-items(baseline);
		width: $width;
		padding: 12px 0;

	}

	h1{
		margin: 0;
		color: white;
		font-size: 2.5em;
		line-height: 1.3;
		@include transition(color 0.1s linear);
		span{
			font-weight: 300;
		}

		&.var1{
			color: $amarelo;
		}
		&.var2{
			color: $azul;
		}
		&.var3{
			color: $vermelho;
		}
	}

	h2{
		margin: 0;
		// margin-left: 1em;
		font-size: 1em;
		line-height: 1.6;
		font-weight: 300;
		color: white;
	}
}







main{
	width: 100%;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	// @include flex-wrap(wrap);

	@import 'artigos';
}






#cabecalho-artigo{

	margin-top: 2em;
	width: $width;
	@include display(flex);
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	@include align-items(flex-start);


	h1{
		margin: 0 0 1.5em;
	}

	h2.eixo{
		font-weight: 300;
		font-size: 1.2em;
		color: grey;
		margin: 0;
		line-height: 1;
	}

	.resumos{
		width: $width-texto-padrao;

		input[type='radio']{
			position: absolute;
			height: 0px;
			width: 0px;
			font-size: 0;
			line-height: 0;
			opacity: 0;
			visibility: hidden;
			left: -9999px;
			right: -9999px;
			&:checked + label{
				opacity: 1;
				& > div.fakeradio > div{
					opacity: 1;
				}
			}
		}

		label{
			display: inline-block;
			font-size: 0.9em;
			margin-right: 2em;
			opacity: .6;
			@include transition(opacity 0.2s linear);
			
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
			div.fakeradio{
				
				width: 22px;
				height: 22px;
				border: 1px solid grey;
				border-radius: 50%;
				@include display(inline-flex);
				@include justify-content(center);
				@include align-items(center);
				& > div{
					display: inline;
					width: 11px;
					height: 11px;
					border-radius: 50%;
					background-color: black;
					opacity: 0;
					@include transition(opacity 0.2s linear);
				}
			}
			
		}

		input[type='radio']:first-of-type:checked ~ section.resumo:first-of-type{
			display: block;
		}

		input[type='radio']:nth-of-type(2):checked ~ section.resumo:nth-of-type(2){
			display: block;
		}

		section.resumo{
			display: none;
		}
	}

	.minicurriculo{
		width: 450px;
		box-shadow: 0px 4px 15px rgba(0,0,0, 0.3);
		background-color: $branco;
		h2{
			font-size: 1.5em;
			line-height: inherit;
			margin: 0.5em 0;
			// margin-bottom: 1em;
			color: black;
			padding: 0 20px;
			font-weight: bold;
		}
		div.autor{
			padding: 0 20px;
			line-height: 1.4;
			margin-bottom: 2em;
			h3{
				font-size: 1em;
				margin: 0;
			}
			p{
				font-size: 0.9em;
				margin: 0;
				& + p{
					margin-top: 0.5em;
				}
			}
		}
		
	}
}





#comeco-conteudo{
	margin: 2em 0 0;
	width: 100%;
	height: 60px;
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
	background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
	// border-bottom: 1px solid grey;
}






#conteudo{
	width: 100%;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	padding-bottom: 150px;
	&.sem-header{
		@include flex-wrap(wrap);
		padding-top: 50px;
	}
}




@import 'footer-e-sumario';
